<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'/>
  </head>
  <body>
    <div class = 'container'>

      <h1>Acme Product Categories</h1>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        {% for catName in categories %}
        <li role="presentation"><a href="/categories/{{ catName }}/products">{{ catName }}</a></li>
        {% endfor %}
      </ul>

      <div class = 'form-group'>
        <form action = '/categories/{{ nav }}/products' method='POST'>
          <input class = 'form-control' name = 'productName' placeholder="Product Name">
          <button class = 'btn btn-primary'>Save</button>
        </form>
      </div>

      <ul class='list-group'>
        {% for product in products %}
        <div>
          <li class = 'list-group-item'>
            {{product.name}}
          <form action= '/categories/{{ nav }}/products/{{ product.id }}?_method=DELETE' method='POST'>
            <button class = 'btn btn-warning' name='product'>Delete</button>
          </form>
          </li>
        </div>
        {% endfor %}
      </ul>

      <form action= '/categories/{{ nav }}?_method=DELETE' method='POST'>
        <button class = 'btn btn-danger'>Delete Category</button>
      </form>

    </div>

  </body>

</html>
